@import "reset";
@import "vars";
@import "general";
@import "header";
@import "hero";
@import "feature";
@import "grid";
@import "counter";
@import "testimonial";
@import "progress";

.fixed {
  position: fixed;
  width: 100%;
  background-color: $primary;
  padding: 0.5rem 0;
  opacity: 0;
  animation: slideIn 500ms ease-in 50ms forwards;
  top: -100px;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
